{% extends 'home/base.html' %}
{% block title %}: Existing VELO Pouch user{% endblock %}

{% load static %}

{% block content %}

    <div class="content-area">
        <div class="pagehead-bg   primary-bg" >
        </div>
        <div class="container has-pagehead is-pagetitle">
            <div class="section">
                <h5 class="pagetitle">LETS FIND OUT IF VELO IS FOR YOU</h5>
            </div>
        </div>

        <div class="container">
            <div class="section">
                <div class="spacer-large"></div>
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m12 l4">
                        <div class="icon-block overlay">
                          <div class="icon-area center primary-text"><i class="mdi mdi-account-plus"></i></div>
                          <h6 class="title-area center">It's my first VELO</h6>
                          <p class="text-area center">Instructions for if you are a first time user on the VELO web app.</p>
                        </div>
                    </div>

                    <div class="col s12 m12 l4">
                        <div class="icon-block overlay">
                          <div class="icon-area center primary-text"><i class="mdi mdi-qrcode"></i></div>
                          <h6 class="title-area center">I Know What Am Doing</h6>
                          <p class="text-area center">Existing users who has experience in using VELO web app.</p>
                        </div>
                    </div>

                    <div class="col s12 m12 l4">
                        <div class="icon-block overlay">
                          <div class="icon-area center primary-text"><i class="mdi mdi-information"></i></div>
                          <h6 class="title-area center">What is VELO</h6>
                          <p class="text-area center">Instructions on learning more about VELO web app.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
